body {
    margin: 0;
    font-family: arial;
    background: white;
    color: black;
}

.dark {
    background: #111;
    color: white;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    width: 100px;
    height: 300px;
    overflow: hidden;
}

.slider img {
    width: 100px;
    height: 100%;
    object-fit: cover;
}

.searchbox {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#movies {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    padding: 20px;
}

.movie {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
}

.dark .movie {
    background: #222;
}

@media (max-width: 600px){
    header{
        flex-direction: column;
        gap: 10px;
    }
}